@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.
<button @onclick="Count">Click Me !</button>
<br/>
<p>@counter</p>
<SurveyPrompt Title="@DefaultValue" />

<Counter></Counter>
@code{
    int counter = 0;

    public void Count()
    {
        counter++;
    }
    public string DefaultValue { get; set; } = "Wow ! ! !This is my First .Net MAUI App";
}