@page "/"

<h1 class="alert alert-info">Hello, world!</h1>

Welcome to your new app.
<SurveyPrompt Title="@DefaultValue" />

<Counter></Counter>
@code{
    
    public string DefaultValue { get; set; } = "Wow ! ! !This is my First .Net MAUI App";
}