@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello .NET Conf 2021 : West Africa!</h1>

<h2>Welcome to your new app.</h2>

<SurveyPrompt Title="@MotParDefaut" />
@code
{
    [Parameter]
    public string MotParDefaut { get; set; } = "Ceci est un Hot Reload en C#";
}
